{{>partials/header}}
{{#showWelcome}}
Opa, tudo bem {{ user.name }}?
{{/showWelcome}}
{{#showOld}}
Como vai a vida?
{{/showOld}}
{{^showOld}}
Beleza?
{{/showOld}}

<hr />

<h2>Produtos</h2>

<ul>
    {{#products}}
    {{>partials/productItem}}
    {{/products}}
</ul>

<h2>Produtos a partir de R$12</h2>
<ul>
    {{#expensives}}
    {{>partials/productItem}}
    {{/expensives}}
</ul>

<ul>
    {{#frasesDoDia}}
    <li>{{.}}</li>
    {{/frasesDoDia}}
</ul>


<hr />

<ul>
    {{^frasesDoDia}}
    Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>
{{>partials/footer}}