<html>
    <head>
        <title>Pagina Home</title>
    </head>
    <body>
        <h1>Título da pagina</h1>
        <hr />

        {{#showWelcome}}
            Opa, tudo bem {{ user.name }}?
        {{/showWelcome}}
        {{#showOld}}
            Como vai a vida?
        {{/showOld}}
        {{^showOld}}
            Beleza?
        {{/showOld}}

        <hr />

        <h2>Produtos</h2>

        <ul>
        {{#products}}
            <li>{{title}} - R${{price}}</li>
        {{/products}}
        </ul>
        <ul>
        {{#frasesDoDia}}
            <li>{{.}}</li>
        {{/frasesDoDia}}
        </ul>

        
        <hr />

        <ul>
            {{^frasesDoDia}}
                Não há frases motivacionais hoje.
            {{/frasesDoDia}}
        </ul>
    </body>
</html>