<html>
    <head>
        <title>Pagina Home</title>
    </head>
    <body>
        <h1>Título da pagina</h1>
        <hr />

        {{#showWelcome}}
            Opa, tudo bem {{ user.name }}?
        {{/showWelcome}}
        {{#showOld}}
            Como vai a vida?
        {{/showOld}}
    </body>
</html>